* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_div {
  width: 95%;
  height: 50vh;
  margin: 50px auto;
  /* border: 4px solid black; */
  box-shadow: rgba(0, 0, 0, 0.1) -1px 9px 40px -12px,
    rgba(0, 0, 0, 0.75) 0px 2px 4px -1px;
  display: grid;
  border-radius: 10px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
}
.div1 {
  width: 100%;
  /* border: 4px solid red; */
  grid-column: 1/3;
  grid-row: 1/4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  display: block;
  margin: 5px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.slides {
  width: 500%;
  height: 100%;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 100%;
  height: 300px;
}
.navigation-manual {
  position: absolute;
  width: 37%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 1px solid white;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 10px;
}
.manual-btn:hover {
  background: white;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
.navigation-auto {
  position: absolute;
  display: flex;
  width: 37%;
  justify-content: center;
  margin-top: 260px;
}
.navigation-auto div {
  border: 1px solid white;
  padding: 4px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 10px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: white;
}
.div2 {
  border: 4px solid green;
  grid-column: 3/4;
  grid-row: 1/3;
}
.div3 {
  border: 4px solid orange;
  grid-column: 3/4;
  grid-row: 3;
}
.div4 {
  border: 4px solid violet;
  grid-column: 4/7;
  grid-row: 3;
}
.div5 {
  border: 4px solid blue;
  grid-column: 4/-1;
  grid-row: 1/3;
}
.room-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.image-wrap {
  overflow: hidden;
  position: relative;
  height: 15rem;
}
